.input-cities {
    width: 400px;
    height: 30px;
    border-radius: 17px;
    outline: none;
    border: none;
    background-color: transparent;
    color: rgb(208, 204, 204);

}

.input-cities::placeholder {
    color: rgb(196, 192, 192);
}

.btn-buscar {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
}

.icon-btn {
    font-size: 15px;
    color: white;
}


.select-pais {
    width: 200px;
    height: 30px;
    background-color: transparent;
    border-radius: 17px;
    cursor: pointer;
    color: rgb(202, 200, 200);
    border: none;
    outline: none;
    font-size: 17px;
}

.icon-location {
    color: #3AB3F8;
    font-size: 22px;
}